.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dedede;
    cursor: pointer;
    padding: 10px 5px;
}
.product-image {
    width: 200px;
    height: 200px;
}
.text-discription {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 34px;
}
.price {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
}
.block-button {
    display: none;
    width: 186px;
    height: 40px;
}
.product:hover .block-button {
    margin-top: 15px;
    display: block;
}
.product:hover .text-discription {
    margin-top: 0px;
}
@media (max-width: 690px) {
    .product {
        height: 100%;
        padding: 20px 0;
    }
    .product-image {
        height: 399px;
        width: 334px;
    }
    .block-button {
        margin-top: 15px;
        display: block;
    }
}
@media (max-width: 320px) {
    .product{
        width: 270px;
    }
    .product-image {
        height: 200px;
        width: 200px;
    }    
    .product:hover .text-discription {
        margin-top: 0px;
        margin-top: 34px;
    }
}
